
.activity-entry {
  font-size: 12px;
  padding-left: 12px;
  padding-bottom: 6px;
}

/*.detail-text {
  font-style: italic;
  color: #888;
}
*/

#username {
  font-size: 14px;
  font: green;
  font-weight: bold;
}

#task
{
  font-size: 16px;  
  /*font-style: italic;*/
}

.detail-text
{
  color: gray;
}

#footer 
{  
}