/*
.form-control {
  width: 200px;
  font-size: 20px;
}*/

.controls {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  background: #aaa;

}

.next-task-field {
  float: left;
  padding: 10px;
}

.next-task-submit-button {
  float: left;
  padding: 10px;
}