<template name="taskStart">
  <form class="main form">
    <div class="form-group">
      <label class="control-label" for="task">Task</label>
      <div class="controls">
        <input name="task" id="task" type="text" value="" placeholder="Name your task" class="form-control"/>
      </div>
    </div>

<!--     <label class="control-label" for="duration">Duration</label>
    <select class="form-control">
      <option>30 mins</option>
      <option>1 hour</option>
      <option>1.5 hours</option>
      <option selected>2 hours</option>
      <option>2.5 hours</option>
      <option>3 hours</option>
      <option>4 hours</option>
      <option>5 hours</option>
      <option>6 hours</option>
    </select> -->

<!--     <label class="control-label" for="duration">Scheduled Breaks</label>
    <select class="form-control">
      <option>None</option>
      <option selected>5 mins every half hour</option>
      <option>10 mins every hour</option>
    </select> -->

    <input type="submit" value="Get started!" class="btn btn-primary"/>

  </form>
</template>

