<template name="taskForm">
  <form class="main form">
    <div class="form-group">
      <!-- <label class="control-label" for="task">Task</label> -->
      <div id="next-task-controls">

        <div id="next-task-field">
          <input name="task" id="task" type="text" value="" required autofocus="autofocus" placeholder="What's your next task?" class="form-control" maxlength="120"/>
        </div>
        <div id="next-task-duration-selector">
          <!--<label class="control-label" id="duration-dropdown" for="duration">Duration</label>-->
          <select id="task-duration">
            <!--<option value=".05">Test (3 sec)</option>-->
            <!--<option value="15">15 mins</option>-->
            <option value="25" selected>25 mins</option>
            <!--<option value="45">45 mins</option>-->
            <option value="50">50 mins</option>
            <!--<option value="60">1 hour</option>-->
            <!--<option value="90">1.5 hours</option>-->
            <!--<option value="120">2 hours</option>-->
            <!--<option value="150">2.5 hours</option>-->
            <!--<option value="180">3 hours</option>-->
            <!--<option value="240">4 hours</option>-->
          </select>
        </div>
        <div id="next-task-submit-button">
          <input type="submit" value="Go!" class="btn btn-primary"/>

        </div>
      </div>
    </div>

<!--     <label class="control-label" for="duration">Scheduled Breaks</label>
    <select class="form-control">
      <option>None</option>
      <option selected>5 mins every half hour</option>
      <option>10 mins every hour</option>
    </select> -->
  </form>
</template>

