<template name="timerModal">
  <!-- DFL TODO: Trigger timer modal without stuffing this into template -->
  <div hidden>{{ latestUserTaskName }}</div>
  <div class="modal fade" id="timerModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="timerModalTitle">title...</h4>
        </div>
        <div class="modal-body">
          <h4 class="modal-title" id="timerModalTask">task...</h4>
          <span hidden id="timerModalTaskField"><input name="task" id="taskField" type="text" value="" placeholder="blab" class="form-control"/></span>
          <span id="timerModalTime"></span>
        </div>
        <br><br>
        <div class="modal-footer">
          <button id="abort-task-btn" type="button" class="btn btn-primary" data-dismiss="modal">Abort</button>
        </div>
      </div>
    </div>
  </div>
</template>