<template name="userPill">
  <div class="user" id="user-pill" data-trigger="hover" data-toggle="popover" data-html="true" data-placement="left" data-content="<strong>{{username}}</strong><br/>week: {{ profile.weeklyPomodoros }}<br/>total: {{ profile.totalPomodoros }}">
    <div id="avatar-wrap">
      <img class="avatar-image {{userStatusClass}}" src="{{profile.avatarUrl}}">
    </div>

      <div class="user-stats">
        {{ profile.weeklyPomodoros }}
        {{#if profile.weeklyPomodoros}}
          <img class="tomato-icon" src="tomato_small.png">
        {{/if}}
        <br/>
        <span class="total-pomodoros-text">{{ profile.totalPomodoros }}</span>
      </div>

  </div>
</template>
