
body,
html {
font-size: 18px;
margin:0;
padding:0;
}

body { padding-top: 30px; }

.wrapper {
  width:600px;
  min-height: 200px;
  margin:0 auto;
  padding: 0px 0px 0px 30px;
  /*background:#fee;*/
}

.feed {
  float: left;
  width:430px;
  padding: 20px 0px 20px 0px;
  /*background: #eef;*/
}

.users {
  float: right;
  width: 130px;
  padding: 10px;
/*  margin: 0 auto;
  min-height: 100%;*/
  /*background: #efe;*/
}


.user {
  font-size: 18px;
  font-style: bold;
}

.task
{
  padding-left: 18px;
  font-style: italic;
}

.user-online {
  background: #cfc;
}

.user-offline {
  background: #ccf;
}

/*
.form-control {
  width: 200px;
  font-size: 20px;
}*/

#next-task-controls {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  background: #aaa;

}

#next-task-field {
  float: left;
  padding: 10px;
  width: 250px;
}

#next-task-submit-button {
  float: left;
  padding: 10px;
}

#next-task-duration-selector {
  float: left;
  padding: 10px;
}


#activity-wrapper {
  font-size: 12px;
  padding-left: 12px;
  padding-bottom: 6px;
  /*background: #afa;*/
  /*min-height: 200px;*/
  max-height: 400px;
  height: 120px;
  /*overflow:scroll;*/

}
#activity-wrapper #text-wrapper {
  float: right;
  width: 360px;
  max-height: 120px;
  /*background: #ccf;*/
}

#activity-wrapper .avatar {
  float: left;
  height: 20px;
  width: 20px;
  padding: 0px 10px 0px 0px;

}

#activity-wrapper .avatar-image {
  width:  40px;
  height: 40px;
}

#activity-wrapper #text-wrapper #task {
  max-height: 70px;
  overflow: scroll;
}


/*.detail-text {
  font-style: italic;
  color: #888;
}
*/

#username {
  font-size: 14px;
  font: green;
  font-weight: bold;
}

#task
{
  font-size: 16px;
  /*font-style: italic;*/
}

.detail-text
{
  color: gray;
}

#footer 
{
}


.avatar-image {
  border-radius: 10px;
}

#user-pill {
  padding: 5px;
}

#user-pill .avatar-image{
  width:  70px;
  height: 70px;
}

#user-pill .user-online {
  border:3px solid #2d2;
}

/*
 *  Navigation
 */
#logout-box {
  float: right;
  padding-right: 10px;
}

#logout-link {
  font-size: 12px;
}

/*
 * Modal Timer Window
 */

#modal-timer-title {
  text-align: center;
}

#modal-timer-time {
  font-size: 90px;
  text-align: center;
  padding: 20px;
}

