
body,
html {
font-size: 18px;
margin:0;
padding:0;
}

body { padding-top: 30px; }

.wrapper {
  width:570px;
  min-height: 200px;
  margin:0 auto;
  padding: 0px 0px 0px 40px;
  /*background:#fee;*/
}

.feed {
  float: left;
  width:350px;
  padding: 20px 0px 20px 0px;
  /*background: #eef;*/
}


.users {
  float: right;
  width: 180px;
  padding: 20px 0px 20px 0px;
/*  margin: 0 auto;
  min-height: 100%;*/
  /*background: #efe;*/
}

.info-header {
  padding: 10px 10px 20px 10px;
  /*background: #ddd;*/
  text-align: center;
  color: gray;
}

.users .info-header {
  text-align: left;
  padding: 10px 10px 20px 0px;
}
.user {
  font-size: 18px;
  font-style: bold;
}

.task
{
  padding-left: 18px;
  font-style: italic;
}

.user-online {
  background: #cfc;
}

.user-offline {
  background: #ccf;
}

.user-stats {
  float: left;
  font-size: 14px;
  height: 50px;
  padding: 5px;
  /*margin: 10px 10px 0px 0px;*/
}

.tomato-icon {
  width: 14px;
  height: 14px;
  float: right;
}

.total-pomodoros-text {
  color: lightgray;
}

#activity-wrapper {
  font-size: 12px;
  padding-bottom: 10px;
  overflow:hidden;

}
#activity-wrapper #text-wrapper {
  float: right;
  width: 305px;
  /*background: #ccf;*/
}

#activity-wrapper .avatar {
  float: left;
  padding: 5px 0px 0px 0px;
}

#activity-wrapper .avatar-image {
  width:  30px;
  height: 30px;
  border-radius: 15px;
}

#activity-wrapper #text-wrapper #task {
  overflow: scroll;
}


/*.detail-text {
  font-style: italic;
  color: #888;
}
*/

#username {
  font-size: 14px;
  font-weight: bold;
  padding: 0;
}


#task
{
  font-size: 16px;
  /*font-style: italic;*/
}

#detail-text
{
  color: gray;
}

#footer
{
}

#user-pill {
  padding: 5px;
  /*background: #afa;*/
  width: 140px;
  /*width: 280px;*/
  height: 60px;
}

#user-pill #avatar-wrap {
  float: left;
  /*background: #aaf;*/
  left: 0px;
  width: 50px;
  margin:0 auto;
  /*cursor:pointer;*/
}


/*#user-pill #user-info-wrap{*/
  /*float: right;*/
  /*font-style: bold;*/
  /*/!*background: #faa;*!/*/
  /*width: 190px;*/
/*}*/

#user-pill .avatar-image{
  width:  50px;
  height: 50px;
  border-radius: 10px;

}

#user-pill .user-online {
  border: 3px solid #2d2;
}
/*
 *  Next Task Form
 */

/*
.form-control {
  width: 200px;
  font-size: 20px;
}*/

#next-task-controls {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  background: #aaa;

}

#next-task-field {
  float: left;
  padding: 10px;
  width: 250px;
}

#next-task-submit-button {
  float: left;
  padding: 10px;
}

#next-task-duration-selector {
  float: left;
  padding: 10px;
}

/*
 *  Navigation
 */
#logout-box {
  float: right;
  padding-right: 10px;
}

#logout-link {
  font-size: 12px;
}

/*
 * Modal Timer Window
 */

#modal-timer-title {
  text-align: center;
}

#modal-timer-time {
  font-size: 90px;
  text-align: center;
  padding: 20px;
}

.timer-btn-active {
}

.timer-btn-inactive {
  display: none;
}


/* Hacky way to add some help text to the signup forms */

.at-pwd-form::before {
  font-size: 14px;
  font-style: italic;
  color: darkmagenta;
  content: "When registering please use your DC username, e.g. 'JoeSmith'. Profile pictures use wordpress.com's Gravatar. If you have a wordpress.com account please use the same email for simplicity.";
}


